# SPDX-FileCopyrightText: 2021-2022 The Manyverse Authors
#
# SPDX-License-Identifier: Unlicense

# Windows files should use crlf line endings
# https://help.github.com/articles/dealing-with-line-endings/
*.bat text eol=crlf